{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="mb-3">
        <select name="symbol" id="quotes">
            {% for quote in quotes %}
                <option value="{{quote}}">
                    {{ quote }}
                </option>
            {% endfor %}
        </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Amount of Shares" type="number">
         </div>
         <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>

{% endblock %}